{% extends "base.html" %}

{% block title %}
index
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        </div>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<form method="POST">
    <input type="text" name="name" placeholder="Initials or Fake Name">
    <input type="text" name="phone" placeholder="Phone Number">
    <input type="text" name="zipcode" placeholder="ZIP Code / Pin Code">
    <input type="text" name="email" placeholder="Email Address">
    <label> Your Blood Type:</label>
    <select name="bloodType">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select>
    <input type="submit" class="btn btn-dark">
</form>
{% endblock %}