<p>Hello {{name}},</p>
<p>Thank you for registering as a donor! If the details mentioned below are correct as per your knowledge, please click on the link below to confirm your account.</p>
<ul>
    <li>Phone Number: {{phone}} </li>
    <li>City, State, Country: {{place}}</li>
    <li>Blood Type: {{bloodType}}</li>
</ul>
<a href = "{{url}}"><button style= "color: white; background-color: #197278">Confirm your account.</button></a>
<p> This link is only valid for 45 minutes.</p>
<p>Thank you,</p>
<p>Vital Relations Team</p>