{% extends "base.html" %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        </div>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<form method="POST">
    <input type="text" name="name" placeholder="Puesdo-name registered under">
    <input type="text" name="phone" placeholder="Phone Number">
    <input type="submit" class="btn btn-dark">
</form>
{% endblock %}