{% extends "base.html" %}

{% block main %}

<h2>Other Resources</h2>

<br>

<h5>Global</h5>
<a href="https://www.who.int/campaigns/world-blood-donor-day/2018/who-can-give-blood">Who can give blood?</a>

<br><br>

<h5>India</h5>
<a href="https://linktr.ee/COVID19support.India">COVID-19 SUPPORT INDIA - help lines and continuously verified resources (beds, oxygen, medicine, etc.) </a>
<br>
<a href="https://covidwin.in/ ">Tracking availability of many types of Covid related resources in India</a>
<br>
<a href="https://covid19-twitter.in/">Twitter query generator which finds info from Twitter. </a>
<br>
<a href="https://covid19.neera.ai/ ">Provides beds information</a>
<br>
<a href="https://covidfightclub.org/">Lists Covid resource availability with phone numbers.</a>
<br>
<a href="https://www.indianredcross.org/ircs/program/BloodBank">Guidelines for blood donors in India</a>
<br>
<a href="https://indianexpress.com/article/lifestyle/health/how-often-can-you-donate-plasma-7291597/">Who can donate plasma in India?</a>


{% endblock %}

"""https://covidwin.in/               Tracking availability of many types of Covid related resources.
https://covid19-twitter.in/    Twitter query generator which finds info from Twitter.
https://covid19.neera.ai/      Provides beds information
https://covidfightclub.org/   Lists Covid resource availability with phone numbers."""