{% extends "base.html" %}


{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        </div>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% if people == {}%}
<h1>Vital Relation</h1>
<h3>To search for a donor, enter your requirements below.</h3>
<h3>To add a donor, click add donor above.</h3>
{% endif %}


<form method="POST">
    <label>Sort by bloodtype:</label>
    <select name="bloodType">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select>
    <input type="text" name="place" placeholder="City, State, Country" id= "searchCity">
    <input type="submit" value = "Search Blood Donors" class="btn btn-dark" name= "button">
    <input type="submit" value = "Search Plasma Donors" class="btn btn-dark" name= "button">
</form>

<div class = "row">
    {% for x in people %}
        <div class="card bg-warning col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{people[x][0].title()}}</h5>
                <p class="card-title">Phone Number: {{people[x][1]}} </p>
                <p class="card-text">Place: {{people[x][2]}} <br> Blood Type: {{people[x][3]}} </p>
            </div>
        </div>
    {%  endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
    function activatePlacesSearch(){
        var input = document.getElementById("searchCity")
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script async
src="https://maps.googleapis.com/maps/api/js?key={{places}}&libraries=places&callback=activatePlacesSearch">
</script>
{% endblock %}